.shop {
  padding: 1rem 0 3rem 0;
  .shop-contant {
    h1 {
      margin: 1rem 0;
      padding-bottom: 2rem;
      line-height: 1.25;
      font-weight: 700;
      font-size: 2rem;
    }
  }
  .nav-tabs {
    border: none;
    .nav-link {
      color: #424242;
    }
    .nav-link.active {
      color: #424242;
      border-bottom: 1px solid black;
    }
  }
  .shop-catogry {
    .card {
      border: none;
      h3 {
        font-weight: 700;
      }
      del {
        font-weight: 600;
        color: black;
        margin: 0 1rem 0 1rem;
        display: inline-block;
      }
      span {
        margin-left: 1rem;
        color: #fe7a15;
        font-weight: bold;
      }
    }
  }
}
