.formallooks{
    .formal-contant{
        background-color: #EEEEEE !important;
        padding: 1.5rem;
        p{
            font-size: 1.3rem;
        }
        .btn{
            padding: 0.5rem 3rem;
            font-size: 1rem;
            border-radius: 0;
            color: #FFFEFE;
            background-color: #212121;
            border-color: #212121;
        }
    }
}