footer {
  padding: 5rem 0 1rem 0;
  h5 {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    color: #616161;
  }
  input {
    margin-bottom: 2rem;
    border: 0.5px solid wheat;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
  }
  span {
    display: block;
    margin: 1rem 0;
  }
}
